@media (max-width: 1024px) {


    .center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        padding-top: 180px;
        padding-bottom: 140px;

        &__title {

            font-size: 50px;
        }

        &__description {
            font-size: 20px;
        }

        &__button {
            font-size: 20px;
        }

    }

    .decor3 {
        top: 450px;
        left: 600px;
    }

    .decor4 {
        top: 500px;
        left: 650px;
    }

    .decor5 {

        width: 293px;
        height: 400px;
    }

    .decor11 {
        display: none;
    }

    .decor12 {
        display: none;
    }



    .On-games {
        display: none;
    }

    .mini-games {
        padding-top: 48px;
        padding-bottom: 32px;

        &__title {

            font-size: 50px;
        }
    }

    .mini-game {
        &__left {
            &-title {
                font-size: 40px;
                padding-top: 20px;
                padding-bottom: 16px;
            }

            &-description {
                font-size: 20px;
                line-height: 24px;
                padding-bottom: 30px;
            }

            &-btn {
                font-size: 20px;
            }
        }

        &__right {

            &-title {
                font-size: 40px;
                padding-top: 20px;
                padding-bottom: 16px;
            }

            &-description {
                font-size: 20px;
                line-height: 24px;
                padding-bottom: 26px;
            }

            &-btn {
                font-size: 20px;
            }
        }



        &__img {
            // width: 450px;
            // height: 375px;
            width: auto;
            height: auto;
        }

    }




}