* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

header {
  background-image: url(./imagin/Rectangle111002150.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  width: 770px;
  padding-top: 196px;
  padding-bottom: 156px;
}
.header__title {
  color: #202027;
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 24px;
}
.header__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #202027;
  padding-bottom: 48px;
}
.header__description-bold {
  font-weight: 600;
}
.header__description-mob {
  display: none;
}
.header__button {
  background-color: #202027;
  color: #FFFFFF;
  width: 247px;
  height: 66px;
  border: 1px solid #202027;
  border-radius: 60px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
}

.decor1 {
  z-index: 0;
  position: absolute;
  top: 94px;
  left: 63px;
}

.decor2 {
  z-index: 0;
  position: absolute;
  top: 69px;
  left: 156px;
}

.decor3 {
  z-index: 0;
  position: absolute;
  top: 538px;
  left: 948px;
}

.decor4 {
  z-index: 0;
  position: absolute;
  top: 568px;
  left: 1013px;
}

.decor5 {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.decor6 {
  position: absolute;
  top: 96px;
  right: 0;
  z-index: 0;
}

.decor7 {
  z-index: 0;
  position: absolute;
  top: 770px;
  left: 25px;
}

.decor8 {
  z-index: 0;
  position: absolute;
  top: 822px;
  left: 40px;
}

.decor9 {
  z-index: 0;
  position: absolute;
  top: 47px;
  right: 123px;
}

.decor10 {
  position: absolute;
  z-index: 0;
  top: 126px;
  right: 45px;
}

.decor11 {
  position: absolute;
  z-index: 0;
  bottom: 45px;
  right: 150px;
}

.decor12 {
  position: absolute;
  z-index: 0;
  bottom: 65px;
  right: 52px;
}

.decor-mob1 {
  display: none;
}

.On-games {
  position: relative;
  background-color: #202027;
}
.On-games__title {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 700;
  padding-top: 94px;
  padding-bottom: 24px;
}
.On-games__description {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 72px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding-bottom: 50px;
  align-items: flex-start;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.link-card {
  text-decoration: none;
  z-index: 1;
}

.game-card {
  z-index: 1;
  background-color: #FFFFFF;
  width: 378px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.1294117647);
  border-radius: 30px;
}
.game-card__img {
  padding-bottom: 40px;
}
.game-card__number {
  color: #202027;
  background-color: #F7F7F7;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-left: 32px;
  width: 110px;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  text-align: center;
}
.game-card__title {
  font-size: 32px;
  color: #202027;
  font-weight: 700;
  padding-left: 32px;
  padding-bottom: 36px;
}

.netakusya {
  margin-top: auto;
}

.mini-games {
  position: relative;
  background-color: #202027;
  padding-bottom: 144px;
}
.mini-games__title {
  font-size: 64px;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 72px;
}
.mini-games__alternatives {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.left {
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
}

.mini-game {
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.1294117647);
  border-radius: 30px;
}
.mini-game__img {
  width: 600px;
  height: 500px;
}
.mini-game__left {
  padding-left: 48px;
}
.mini-game__left-title {
  font-size: 48px;
  font-weight: 700;
  color: #202027;
  padding-top: 48px;
  padding-bottom: 24px;
}
.mini-game__left-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
}
.mini-game__left-btn {
  background-color: #202027;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}
.mini-game__right {
  padding-left: 48px;
}
.mini-game__right-title {
  font-size: 48px;
  font-weight: 700;
  color: #202027;
  padding-top: 48px;
  padding-bottom: 24px;
}
.mini-game__right-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 36px;
}
.mini-game__right-btn {
  background-color: #202027;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}

footer {
  background-color: #BDED35;
  text-align: center;
}

.footer-title {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  font-weight: 600;
}

.header__button:hover {
  background-color: #FFFFFF;
  color: #202027;
  transition: 0.3s;
}

.link-card:hover {
  transition: 0.3s;
  transform: scale(1.05, 1.05);
}

.mini-game__left-btn:hover {
  background-color: #FFFFFF;
  color: #202027;
  transition: 0.3s;
}

.mini-game__right-btn:hover {
  background-color: #FFFFFF;
  color: #202027;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 147px;
    max-width: 343px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 131px;
  }
  .header__title {
    font-size: 40px;
    text-align: center;
  }
  .header__description {
    display: none;
  }
  .header__description-mob {
    display: block;
    font-size: 16px;
    text-align: center;
    padding-bottom: 36px;
  }
  .header__button {
    font-size: 16px;
    width: 285px;
    height: 55px;
  }
  .decor1 {
    width: 35px;
    height: 35px;
    top: 97px;
    left: 37px;
  }
  .decor2 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 91px;
  }
  .decor3 {
    width: 18px;
    height: 18px;
    bottom: 74px;
    left: 272px;
  }
  .decor4 {
    width: 39px;
    height: 41px;
    bottom: 28px;
    left: 303px;
  }
  .decor5 {
    display: none;
  }
  .decor-mob1 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */